<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
</head>
<body>
  <div>
    <div class="container">
      <h1 class="display-3">{{ data.title }}</h1>
      <p class="lead card card-body">{{ data.description }}</p>
    </div>
  </div> 

    <div class="invalid-feedback">{{ name }}</div>
    {% include 'inc/footer.twig' %}
</body>
</html>
