{% include 'inc/header.twig' %}
  <div>
    <div class="container">
      <h1 class="display-3">{{ data.title }}</h1>
      <p class="lead card card-body">{{ data.description }}</p>
    </div>
  </div> 
{% include 'inc/footer.twig' %}
